{% extends 'base.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About me</title>
</head>
<body>
<header style="background-color: #101010; height: 80px;width:100%">
    <img src="https://i.pinimg.com/564x/59/fe/45/59fe454f3bd7886b19db04ff0a288afe.jpg"width="1510" height="1900">
	<h1 style="font-size: 30px; color: white;text-align: center; padding-top: 15px;"></h1>
   </header>
<h1><p style="color:black">Skills</p></h1>
<ul>
    <li><h2><p style="color:black">Django</p></h2></li><br>
    <li><h2><p style="color:black">Python</p></h2></li><br>
    <li><h2><p style="color:black">MySQL</p></h2></li><br>
    <li><h2><p style="color:black">Oops</p></h2></li><br>
    <li><h2><p style="color:black">Pandas</p></h2></li><br>
    <li><h2><p style="color:black">Numpys</p></h2></li><br>
    <li><h2><p style="color:black">HTML3</p></h2></li><br>
    <li><h2><p style="color:black">Photoshop</p></h2></li>
</ul>
<h2><p style="color:black">I am Ravikumar. I am a passionate in python Django developer and data scientist . I have been
worked as an intern at Digital Shyna Educen for a month, now I am looking
myself to increase my efficiency ,accuracy and utility of internal data
processing and I would like to also see myself as a successful Django developer,
I am quite interested in creating new projects and also to deliver my skills and
ready to learn new things in my life . I will make sure to develop insights and
    implement actions to organisations wherever my working.</p></h2>
</body>
</html>
{% endblock %}