{% extends 'base.html' %}
{% block content %}
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
      xmlns="http://www.w3.org/1999/html" xmlns:https="http://www.w3.org/1999/xhtml"
      xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body><header style="background-color: #101010; height: 80px;width:100%">
    <img src="https://i.pinimg.com/564x/59/fe/45/59fe454f3bd7886b19db04ff0a288afe.jpg"width="1510" height="1900">
	<h1 style="font-size: 30px; color: white;text-align: center; padding-top: 15px;"></h1>
   </header>


<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.avatar {
  vertical-align: left;
  width: 200px;
  height: 300px;
  border-radius:100%;
}
</style>
</body>
<body>

<h1><center><font face="Times New Roman" ><font size="7"> <b><p style="color:black">Welcome to Ravikumar's Portfolio</p></b></font></font></center></h1>
<img src="https://download-accl.zoho.in/webdownload?x-service=CLIQ&event-id=ad4ea84b256b25fcb1777ef77fb61e62f5f72680c5ca9f0636f53df024d906b93a34e8c5ff4a7bac71ce792342465cf22e871c335a5e4b2cd481ddc04282453f&x-cli-msg=%7B%22thumbnail%22%3Atrue%7D" width="200" height="200" class="avatar"><br>
<br>
<br>
<br>


<img src="https://lh3.googleusercontent.com/B9X-jbxr0agLzMQmTGQsFATLTqjtRaVraeXlTAUlylUtpo5hX5cOeZWprZAJas7xOpmU6IQRmUTAewabhFxNvlTF8jAtKHh5ngq_IqYIdFYXmmy10g3LiSWzNIwN_RxwD7VDMksck7VReXLuBo4_3SToQa2XexdSRybTlI-A_J47YIs5VBWMuQ9P4PUXjnGE2sNo3Ta9f2KGATs-y0fjbbOOtlZh1iGShyMZ5wadz9QhNt1WQvLpYki3RLqR5PNKTjUkQW1ulojQZFP4Bk3vsWiiDK73SNNloyPcNkzkP9zV58_7i-76PZGg6-VaLgmTo9GJ1aF0-weRvLw21glXxwprZ_bm1d4MDrl7f09GiKV59WUhYE9wg-6ZnTJiTNBUt52u21lK3f1wy3BRzqGpkYcqWfsPKwOhCFfSF-xjYp9rJaWd1NzWBCWJtlIxS8g0WthLPYsCyjkVP1RfDe0DVZ65eVl-QylBBe3xytNlyRkTfDgoZlitjg9K-ilxn4X-NfnxNBGkpoc3EzHya2_wvc5dqJaIxSfcEudJZWfhczYgGdHLJAgsAw_nZ8pvX21gWNFliKtzB83suVL3gndZQUACyylpjmnPQJB6X8jDkjP6D03VIeOc3c-bwK6GsiL66I1pj2bdVxMlo6cQPeuqhGL1EEoqy4rt2yhM1l6taUOfwlRsnZe-mPZY=w684-h873-no?authuser=0" alt="Avatar" style="width:300px" alt="Avatar"><br>
<br>
<style>
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}
.fa-instagram {
  background: #833AB4;
  color: white;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}
.fa-skype {
  background: #00aff0;
  color: white;
}

</style>
</head>
<body>
<a href="https://www.instagram.com/ravikumarrevalli_1813/" class="fa fa-instagram"></a><br>
<a href="https://www.facebook.com/ravikumarrevalli/" class="fa fa-facebook"></a><br>
<a href="https://twitter.com/ravikumarreval1" class="fa fa-twitter"></a><br>
<a href="https://www.linkedin.com/in/ravikumar-revalli-515363163/" class="fa fa-linkedin"></a><br>
<a href="https://secure.skype.com/portal/profile" class="fa fa-skype"></a><br>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<body>
<br>
<br>
<h2><p style="color:black">Basically i am a Django and MySQL engineer that codes. Myself I am totally committed to Python<br> with the specializations in Django, MySQL, oops, NumPy, Pandas. Humanitarian causes an <br>education.<br></h2>
<br>
<h2><p style="color:black"> I am actually a big fan of designing patterns and quite ambitious towards building a dynamic<br> web pages. I am fresher to this world, now I am looking to explore my skills and at the same time<br> to learn new things which gives weightage to my career. I am sincerely ready to put all my efforts towards the organization wherever I work and whatever the organization gives me an opportunity.</p></h2>
<br>
<h1><center><p style="color:black"> Thanks for viewing my Portfolio</p></center></h1>

</body>
</body>
</body>
</html>
{% endblock %}