{% extends 'base.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Work</title>
</head>
<body>
<header style="background-color: #101010; height: 80px;width:100%">
    <img src="https://i.pinimg.com/564x/59/fe/45/59fe454f3bd7886b19db04ff0a288afe.jpg"width="1510" height="1900">
	<h1 style="font-size: 30px; color: white;text-align: center; padding-top: 15px;"></h1>
   </header>
<h2><p style="color:black">I am Ravikumar . I have completed my graduation in the year of 2020. After completion of my graduation, i have joined to learn python with specialisations in Django,Oops,Photoshop,Numpys,Pandas,HTML and MySQL. I have also completed my internship with Digital Shyna Educen</p></h2>
</body>
</html>
{% endblock %}